<h1> Report for Batch</h1>
<table class="table table-striped clearance_batches">
  <thead>
    <tr>
      <th> Clearanced Batch ID </th>
      <th> Item Number </th>
      <th> Status </th>
      <th> Size </th>
      <th> Color </th>
      <th> Price Sold </th>
      <th> Retail Price </th>
      <th> Style </th>
    </tr>
  </thead>
  <tbody>
    <%- @items.each do |item| -%>
      <tr>
        <td> # <%= item.clearance_batch_id %></td>
        <td> # <%= item.id %></td>
        <td><%= item.status %></td>
        <td><%= item.size %></td>
        <td><%= item.color %></td>
        <td><%= item.price_sold %></td>
        <td><%= item.style.retail_price %></td>
        <td><%= item.style.type %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>


<span> <%= link_to 'Home', '/' %> </span>
<span> <%= link_to 'Back', :back %> </span>