<!DOCTYPE html>
<html>
<head>
  <title>Stitch Fix Clearance Tool</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/">Stitch Fix Clearance Tool</a>
        <li><a href="/">Home</a></li>
        <li><a href="/clearance_batches">Clearance Batch List</a></li>
        <li><a href="/items">Item List</a></li>
        <li><a href="#" onclick="history.back();">Back</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <%- if flash[:notice] -%>
    <div class="alert alert-info" role="alert">
      <%= flash[:notice].html_safe %>
    </div>
  <%- end -%>
  <%- if flash[:alert] -%>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert].html_safe %>
    </div>
  <%- end -%>
  <%= yield %>
</div>

</body>
</html>
